<div class="field">
  <%= f.label :discount %><br>
  <%= f.number_field :discount, value: 0 %>
</div>
<div class="field">
  <%= f.label :balance %><br>
  <%= f.number_field :balance, value: 10000 %>
</div>
