<div class="field">
  <%= f.label :discount %><br>
  <%= f.number_field :discount, value: @student.discount %>
</div>
<div class="field">
  <%= f.label :balance %><br>
  <%= f.number_field :balance, value: @student.balance %>
</div>
