<!-- <p id="notice"><%= notice %></p> -->

<!-- This table will only show if there are students that do not have an associated cohort -->
<% nil_cohort = false %>
<% @students.each do |student| %>
  <% if student.cohort.present? == false %>
    <% nil_cohort = true %>
  <% end %>
<% end %>

<% if nil_cohort == true %>
  <%= render 'unspecified_students' %>
<% end %>

<br>

<%= render 'student_collection' %>

<br>

<% if current_user.admin? %>
  <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
        <%= link_to 'New Student', new_student_path, class: " btn btn-info new-student-btn" %>
      </div>
    </div>
  </div>
<% end %>
