<div class="container">
    <div class="row">
      <!-- <div class="col-md-12"> -->
          <%= link_to 'Show', @loan, class: "btn btn-info", id: "loan-edit-show-btn" %>
          <%= link_to 'Back', loans_path, class: "btn btn-info", id: "loan-edit-back-btn" %>
      <!-- </div> -->
    </div>
</div>

<h1>Edit Loan</h1>
<%= render 'form' %>
