<h1>Create A New Payment</h1>
<div class="row">
  <div class="col-md-12">
    <div class="input-group" id="payment_type">

      <!-- <form id="payment_type"> -->
        <label class="input-group-addon">
          <input type="radio" name="payment_type" value="loan">Loan<br>
        </label>
        <label class="input-group-addon">
          <input type="radio" name="payment_type" value="check" class="check">Check<br>
        </label>
        <label class="input-group-addon">
          <input type="radio" name="payment_type" value="stripe">Stripe<br>
        </label>
        <label class="input-group-addon">
          <input type="radio" name="payment_type" value="wire">Wire
        </label>
      <!-- </form> -->

    </div>
  </div>
</div>

<div id="payment_render">
  <%= render 'loans/form' %>
  <%= render 'checks/form' %>
  <%= render 'stripes/form' %>
  <%= render 'wires/form' %>
</div>

<!-- This needs to go in the payments.js file after we know how to listen for the right things.  -->
<script type="text/javascript">
  $('.new_payment').hide();
  $('#payment_type').on('click', function() {
    switch($('input:radio[name=payment_type]:checked').val()) {
      case 'stripe':
        $('.new_payment').hide();
        $('.new_stripe').toggle();
        break;
      case 'check':
        $('.new_payment').hide();
        $('.new_check').toggle();
        break;
      case 'loan':
        $('.new_payment').hide();
        $('.new_loan').toggle();
        break;
      case 'wire':
        $('.new_payment').hide();
        $('.new_wire').toggle();
        break;
    }
  });
</script>
