<div class="container">
    <div class="row">
        <%= link_to "#{@student.full_name} Payments", student_payments_path(@student), class: " btn btn-info", id: "create-pay-back-btn" %>
    </div>
</div>


<div id="new-payment-creation">
  <%= render 'form' %>
</div>
