@import "bootstrap-sprockets";
@import "bootstrap";

//--------------universal---------------------

// body {
//   padding-top: 30px;
//   background: url(/assets/bckGrdImg3.jpg) no-repeat;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center top;
//   // background-attachment: fixed;
// }
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.logout-btn {
  margin-right: 30px;
}
.notice, .alert {
  color: #eaeaea;
  margin-left: 10px;
}

//----------login page-------------------
.login {
  background-color: #eee;
  width: 30%;
  margin: auto;
}
/* padding for text in login page */
.top-label-element {
  padding-top: 10px;
}
#login-btn {
  margin-bottom: 10px;
}
//-------------Devise styling-----------------

.field  {
  text-align: center;
}
.actions {
  text-align: center;
}

#error_explanation {
  color: red;
  margin: auto;
  ul {
    color: red;
    margin: 0, 0, 30px, 0;
  }
}
// .field_with_errors {
//   @extend .has-error;
//   .form-control {
//     color: $state-danger-text;
//   }
// }
.field_with_errors {
  margin: auto;
}
---------------Students--------------------
.back-to-students-btn .btn-info {
  color: #FFF;
}
.new-payment-field {
  background-color: #eaeaea;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  border-style: solid;
  border-color: black;
}
//Payment type radio button styling
input[type="radio"] {
    margin-right: 10px;
}
#payment_render {
  padding-top: 20px;
}
.input-group {
  border-style: solid;
  border-color: black;
}
#student-detail-back-btn {
  color: #fff;
}


-------------Payments----------------------
.back-to-students-btn .btn-info {
  color: #FFF;
}
.new-payment-field {
  background-color: #eaeaea;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  border-style: solid;
  border-color: black;
}
//Payment type radio button styling
input[type="radio"] {
    margin-right: 10px;
}
#payment_render {
  padding-top: 20px;
}
.input-group {
  border-style: solid;
  border-color: black;
}
