html {
  overflow-y: scroll;
}
body {
  border-top: 20px solid #4d4d4d;
  // nav { max-width: 1000px; }
  // main { max-width: 900px; }
}
#navbar {
  position: relative;
  width: 80%;
  height: 60px;
  border-bottom: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 0px;
}
#navbar img {
  padding: 0px;
  height: 60px;
}
#navbar h2 {
  margin-left: 10px;
}

// To Student, All Payments back buttons
.loan-listing-back-btns {
  margin-left: 10%;
}
// bootstrap default text color override
.btn-text-color {
  color: #fff !important;
}
//global offset for buttons aligned to the Wyncode logo
.left-side-btn-offset {
  margin-left: 11%;
}
