// Place all the styles related to the Loans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#show-loans-back-btn {
  margin-left: 6.5%;
  color: white;
}
#loan-edit-show-btn {
  margin-left: 6.5%;
  color: white;
}
#loan-edit-back-btn {
  color: white;
}
#loan-show-edit-btn {
  color: white;
}
