// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back-to-students-btn .btn-info {
  color: #FFF;
}
.new-payment-field {
  background-color: #eaeaea;
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
  border-style: solid;
  border-color: black;
}
//Payment type radio button styling
input[type="radio"] {
    margin-right: 10px;
}
#payment_render {
  padding-top: 20px;
}
.input-group {
  border-style: solid;
  border-color: black;
}
