// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


.student-filters li {
  display: inline;
  text-align: left;
  padding-right: 1em;
}
.student-filters {
  padding-left: 0;
  margin-bottom: 1.2em;
}
.header-title {
  margin-bottom: 0;
}
#student-payment-header-title {
  margin-bottom: 0;
}
#new-payment-button-paypage {
  margin-bottom: 0.7em;
  color: #FFF;
}
.text-center .new-student-btn {
  color: #FFF;
}
.text-center .student-filters {
  display: inline-flex;
}
.new-student {
  text-align: center;
}
.student-list {
  background-color: #eaeaea;
}
.new-student-btn {
  margin-top: 20px;
}
#new-student-add-btn, #all-students-btn {
  margin-bottom: 0.6em;
  color: #fff;
}
.student-list-detail {
  padding-top: 10px;
  width: 35%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}
#new-student-back-btn {
  color: white;
  margin-bottom: 20px;
}
.edit-student {
  padding-top: 15px;
}
#edit-student-btn {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #fff;
}
#student-list-btn-bckgrd {
  background-color: #eaeaea;
}
#student-detail-edit-btn {
  margin-bottom: 30px;
  color: white;
}
#edit-student-top-back-button {
  margin-left: 6.5%;
}
#student-detail-back-btn {
margin-left: 11%;
}
#listing-students-form {
  margin-bottom: 10px;
}
#student-edit-show-btn {
  margin-left: 6.5%;
}
#capacity, #balance-counter {
  text-align: center;
  margin: 0;
  padding: 0;
  // display: inline;
}
.instructor-td, .instructor-th  {
  text-align: left;
}
.payments_color_blue {
  color: #5bc0de;
}
.payments_color_orange {
  color: orange;
}
