// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.student-filters li {
  display: inline;
  text-align: left;
  padding-right: 1em;
}
.student-filters {
  padding-left: 0;
}
