<div class="container">
    <div class="row">
        <%= link_to 'Show', @stripe, class: "btn btn-info button-color-white", id: "editing-stripe-show-btn" %>
        <%= link_to 'Back', stripes_path, class: "btn btn-info button-color-white" %>
    </div>
</div>
<h1>Edit Stripe</h1>
<%= render 'form' %>
